{% extends "blog/base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Изменение пароля</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Введите свой старый пароль, а затем введите новый пароль дважды, чтобы мы могли убедиться, что он введён верно.</p>
                <form action="{% url 'password_change' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_old_password" class="form-label">Старый пароль:</label>
                        {{ form.old_password }}
                        {% if form.old_password.errors %}
                            <div class="text-danger">{{ form.old_password.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">Новый пароль:</label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <div class="text-danger">{{ form.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Подтверждение пароля:</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="text-danger">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
