{% extends "blog/base.html" %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if validlink %}
            <h1 class="text-center mb-4">Введите новый пароль</h1>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">Новый пароль:</label>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div class="text-danger">{{ form.new_password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">Подтвердите пароль:</label>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div class="text-danger">{{ form.new_password2.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Сменить пароль</button>
                    </form>
                </div>
            </div>
        {% else %}
            <h1 class="text-danger">Ошибка при смене пароля!!!</h1>
            <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
        {% endif %}
    </div>
{% endblock %}
