{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{% block title %}Сайт-блог{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Сайт-блог</a>
            <button class="navbar-toggler" id="toggleButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleText()">
                <span class="navbar-toggler-icon"></span> <span id="buttonText">Меню</span>
            </button>
            
            <script>
            function toggleText() {
                const buttonText = document.getElementById('buttonText');
                buttonText.textContent = buttonText.textContent === 'Меню' ? 'Закрыть' : 'Меню';
            }
            </script>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex flex-row align-items-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link user-name" href="{% url 'post:profile_info' request.user.username %}"> 
                            <img src="{% if request.user.profile.image %}{{ request.user.profile.image.url }}{% else %}{% static 'img/no_avatar.png' %}{% endif %}" alt="Avatar" class="rounded-circle" width="30" height="30">
                            <div class="truncatetruncate">
                                {{ request.user.username }}
                            </div>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <form action="{% url 'post:post_form' %}" method="get" class="d-inline">
                            <input type="submit" value="Новый пост" class="btn btn-primary">
                        </form>
                    </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Действия
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <form action="{% url 'post:profile_info' request.user.username %}" method="get" class="d-inline">
                                        <input type="submit" value="Профиль" class="dropdown-item">
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'password_change' %}" method="get" class="d-inline">
                                        {% csrf_token %}
                                        <input type="submit" value="Изменить пароль" class="dropdown-item">
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="submit" value="Выход" class="dropdown-item">
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <form action="{% url 'login' %}" method="get" class="d-inline">
                                <input type="submit" value="Вход" class="btn btn-outline-success btn-sm">
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'register' %}" method="get" class="d-inline">
                                <input type="submit" value="Регистрация" class="btn btn-outline-info btn-sm">
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="content" class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
